$dark-color: #0b192e;
$accent-color: #7FCDC7;
$light-color: #BDC6D7;
$dim-color: #7c828c;

@mixin hover-transition{
  transition: 0.3s;
}


.leftNav{
  background-color: $dim-color;
  height: 100vh;
  float: left;
  max-width: 6%;
  display: flex;
  flex-direction: column;

  .navImages{
    align-items: center;

    padding-top: 30px;
    padding-bottom: 50px;

    .socialIcons{
      // color: $white-color;
      max-width: 2rem;
      padding: 6px;
    }

    .navLogo{
      max-width: 3rem;
      padding: 6px;
    }

    .navLogo:hover{
      transform: rotate(360deg);
      transform-origin: center;
      transition: transform 1s ease-out;
    }
  }

  .navImages:after{
    content: '';
    border-left: 2px solid $accent-color;
    flex-grow: 1;
    height: 80vh;
  }

  // .verticalLine {
  //   border-left: 2px solid $accent-color;
  //   height: 80vh;
  // }

}

/////HOVER LINE
.hoverLine{
  display:inline-block;
}

.hoverLine::after{
  display:block;
  content: '';
  border-bottom: solid 2px $light-color;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
  padding-top: 5px;
}

.hoverLine:hover:after{
  transform: scaleX(.7) ;
}
