$red: #a41a1a;
$blue: #0069ad;
$bg-color: #faf6ea;
$yellow: #eab127;

@mixin hover-transition{
    transition: 0.3s;
}

@mixin border-style{
    border: 2px solid black;
    opacity: 1;
}

h1{
  font-weight:900;
  font-size: 2.5rem
}

p {
  font-size: 20px;
  line-height: 1.75em;
}

.reg-button{
  background-color:black;
  border-radius: 8px;
  border: none;
  color: $bg-color;
  line-height: 1.5;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
  font-weight:400;
  padding:10px 20px 10px 20px;
  @include hover-transition();

}
.reg-button:hover{
  color: #726f68;
}

.orderWrapper{
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #faf6ea;
}


    .bannerWrapper{
        background-color: $blue;

        .bannerLeftBox{
            background-image: url('../../../assets/cakery-assets/about_banner.jpg');
            background-size:cover;
            background-position: center center;
            border-top-right-radius:500px;
            border-bottom-right-radius:500px;
            //margin:30px 0px 20px 0px;
            margin-top:20px;
            margin-bottom:20px;
            min-height:50vh;
        }

        .bannerTextBox{
            background-color:$bg-color;
            text-align: right;
            display:flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-end;
            padding: 50px 100px 50px 100px;




            .bannerText{
                font-weight: 900;
                //font-size: 125px;
                line-height: 110%;
                padding-bottom:20px
            }

            .bannerLine{

                background-color: $red;

            }
        }
    }

    @media screen and (max-width:1500px) and (min-width:200px){
        .bannerText{
            font-size: 125px;
        }

        .bannerLine{
            width:240px;
            height:30px;

        }
    }

    @media screen and (min-width: 1500px){

        .bannerText{
            font-size: 175px;
        }

        .bannerLine{
            width:340px;
            height:40px;

        }
    }


/////////CONTENT
.infoContainer{
    padding: 50px;
    max-width: 1000px;
    margin: auto;
}

h4{
    font-weight: 900;
}

.info{
    border-right: 2px solid black;
}
.ordering{
    padding-left: 40px;
}

.contactContainer{
        margin: auto;
        max-width: 1200px;
        margin-top: 200px;
        border: 2px solid black;

        .contactImage{
            background-image: url("../../../assets/cakery-assets/pattern.png");
            background-size: cover;
        }
        .contactForm{
            padding: 75px;

            .message{
                font-weight: 900;
                font-size: 18px;
                padding-top: 25px;
            }

            .labelClass{
                padding-top: 10px;
                font-weight: 600;
            }

        }


     }

     textarea:focus,
     textarea[type="text"]:focus,
     input[type="text"]:focus,
     input[type="tel"]:focus,
     input[type="file"]:focus,
     input[type="email"]:focus{
         box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(242, 196, 70, 0.6);
         border-color: rgba(242, 196, 70, 0.8);
     }


//////////media queries////////

///CELLPHONE
@media screen and (max-width:500px){
    .bannerText{
        font-size: 90px;
    }

    .bannerLine{
        width:190px;
        height:30px;

    }

    .contentSection{
        padding: 50px 50px 0px 50px;
    }

    h1{
        padding-top:20px
    }

    .rowReverse{
        flex-direction: column-reverse;
    }

    .contactImage{
        display:none;
    }

    .infoContainer{
        padding: 50px;
        max-width: 1000px;
        margin: auto;
        flex-direction: row-reverse;
        .info{
            border-right: none;
            border-bottom: 2px solid black;
        }
        .ordering{
            padding-left: 0px;
            padding-top: 50px;
        }
    }





}

////IPAD
@media screen and (min-width: 500px) and (max-width:1050px){
    .bannerText{
        font-size: 120px;

    }

    .bannerLine{
        width:190px;
        height:30px;

    }

    .contentSection{
        padding: 50px 50px 0px 50px;
    }

    h1{
        padding-top:20px
    }

    .contentRow{
        align-items: start;
    }

    .contactImage{
        display:none;
    }


}

/////FULL SCREEN
@media screen and (min-width: 1050px){

    .bannerText{
        font-size: 125px;
    }

    .bannerLine{
        width:250px;
        height:40px;

    }

    .contentWrapper{
        .contentSection{
            padding: 150px 150px 0px 150px;
        }
    }
}



