<div class="orderWrapper">
<app-cakery-nav></app-cakery-nav>


<div class="bannerWrapper row">
  <div class="bannerLeftBox col-sm-12 col-md-12 col-lg-7">

  </div>
  <div class="bannerTextBox col-sm-12 col-md-12 col-lg-5">
      <div class="bannerText animate__animated animate__fadeInRight">YOUR ORDER</div>
      <div class="bannerLine animate__animated animate__fadeInRight"></div>
  </div>

</div>

<!--...............contact..............-->


<section class="contactWrapper">

  <div class="contactContainer row">

      <div class="contactImage col-md-12 col-lg-5"> </div>

      <div class="contactForm col-md-12 col-lg-7">
          <h1>Say It With Cake</h1>
          <div class="form-group">
          <label for="inputName" class="labelClass">Name</label>
          <input type="text" class="form-control" id="inputName" placeholder="Your Name">
      </div>

      <div class="form-group">
          <label for="inputEmail" class="labelClass">Email</label>
          <input type="email" class="form-control" id="inputEmail" placeholder="Your Email Address">
      </div>

      <div class="form-group col-md-6">
          <label for="inputPhoneNumber" class="labelClass">Phone Number</label>
          <input type="tel" class="form-control" id="inputPhoneNumber" placeholder="Phone Number">
      </div>

      <div class="form-group">
           <div class="message"> Your Message </div>
          <hr>

          <label for="inputSubject" class="labelClass" style="padding-bottom: 10px;">Subject</label>
          <input type="text" class="form-control" id="inputSubject" placeholder="Email Subject">
      </div>

      <div class="form-group" class="labelClass" style="padding-bottom: 20px;">
          <label for="exampleFormControlTextarea1" class="labelClass">Message</label>
          <textarea type="text" class="form-control" id="exampleFormControlTextarea1" rows="5" placeholder="Your message..."></textarea>
      </div>

      <div class="mb-3">
          <label for="formFileMultiple" class="labelClass" class="form-label">Inspiration Images</label>
          <input class="form-control" type="file" id="formFileMultiple" multiple>
        </div>

      <button class="reg-button">Submit</button>
  </div><!--end contactContainer-->
</div>

<div class="infoContainer row">
    <div class="info col-sm-12 col-md-4">
      <h4>The Cakery</h4>
      <p>Monday - Friday 8AM - 6PM</p>
      <p>325 Powell St<br> V7P 9M6, Vancouver BC</p>
      <p> 778.956.8767</p>
      <p>info@thecakery.com</p>

    </div>
    <div class="ordering col-sm-12 col-md-8">
      <h4>Ordering Information</h4>
      <p>Orders will take approximately 1 full business day to complete. We will phone you the morning following your order to confirm and discuss details</p>
      <p>Custom orders can take 2-5 business days to complete. An exact time frame will be provided when your order is confirmed </p>
    </div>
  </div>

</section>

<app-cakery-footer></app-cakery-footer>
</div>
