.navLogo{
  max-width: 150px;
  margin: 10px;
}

.myNav{
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: black;
  padding-left: 20px;
}

.nav-link {
 color: black !important;
}

.disabled{
  color: grey !important;
}
