<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="projects/butter-snowboards"><img class= "navLogo" src = "../../../assets/butter-assets/butter_logo_black.png"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link myNav disabled" >Womens</a>
        </li>
        <li class="nav-item">
          <a class="nav-link myNav disabled" >Men</a>
        </li>
        <li class="nav-item">
          <a class="nav-link myNav disabled" routerLink="">Kids</a>
        </li>
        <li class="nav-item">
          <a class="nav-link myNav disabled" routerLink="">Sale</a>
        </li>
        <li class="nav-item">
          <a class="nav-link myNav disabled" routerLink="">Accessories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link myNav" routerLink="/projects/butter-snowboards/admin-view" > | Admin |</a>
        </li>
      </ul>

    </div>
  </div>
</nav>

