<!--.............Footer..............-->

<footer class="footerClass row">
  <div class="footerLogo col-md-5 col-lg-4">
    <img class="logo"src="../../../assets/cakery-assets/cakery_logo_light.png">
  </div>

  <div class="footerNav col-md-3 col-lg-3">
    <ul class="list">
      <li><a href="#">Home</a></li>
      <li><a href="products.html">Products</a></li>
      <li><a href="about.html">About Us</a></li>
      <li><a href="news.html">News</a></li>
      <li><a href="order.html">Order</a></li>
    </ul>
  </div>

  <div class ="footerContact col-md-4 col-lg-3">
    <h3>Find Us</h3>
    <h4>The Cakery</h4>
    <div class="contactText">325 Powell St<br> V7P 9M6, Vancouver BC</div>

    <div class="socialRow row">
      <div class="col-4">
        <img class="socialIcon" src="../../../assets/cakery-assets/fb.png">
      </div>
      <div class="col-4">
        <img class="socialIcon" src="../../../assets/cakery-assets/ig.png">
      </div>
      <div class="col-4">
        <img class="socialIcon" src="../../../assets/cakery-assets/twitter.png">
      </div>
    </div>

  </div>

  <div class="footerImage col-lg-2">
    <img src="../../../assets/cakery-assets/footer_deco.png">
  </div>

</footer>
