$red: #a41a1a;
$blue: #0069ad;
$bg-color: #faf6ea;

@mixin hover-transition{
    transition: 0.3s;
}

@mixin border-style{
    border: 2px solid black;
    opacity: 1;
}

html, body{
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
      background-color: #faf6ea;
}


//////////FOOTER/////////

.footerClass{
  background-color: black;
  color: $bg-color;
  margin-top: 200px;
  .footerLogo{
      display:flex;
      justify-content: center;
      padding: 60px;
     // max-width: 50px;

      .logo{
          max-width: 75%;
          padding: 10px;
          object-fit: contain;
      }

  }

  .footerNav{
      padding: 100px 50px 50px 0px;
      line-height: 1.75em;
      font-size: 20px;

      .list{
          list-style-type: none;

          a{
              text-decoration: none;
              color: $bg-color;
              @include hover-transition();
          }

          a:hover{
              opacity: 0.5;
          }
      }
  }

  .footerContact{
      padding: 100px 0px 50px 0px;


      h3{
          font-weight:900;
      }

      .socialRow{
          width: 150px;
          padding-top:10px;

          .socialIcon{
              width:45px;
              padding:3px;
              @include hover-transition();
          }

          .socialIcon:hover{
              opacity:0.5;
          }
      }

  }

  .footerImage{
      img{
          object-fit: fill;
          width:100%;
      }
  }
}
