<div class="aboutContainer">
  <div class="aboutSection">
    <div class="aboutContent">
      <!-- <p class="intro"><span>Hi! my name is...</span></p> -->
      <h2><i class="fa-solid fa-circle-info"></i> About Me</h2>
      <hr>
      <h2 class="title">Full Stack Developer</h2>
      <p>Hi, my name's Lisa! I am a full-stack web developer with a passion for problem solving and creating a seamless user experience. My work is driven by a blend of technical proficiency, creativity, and an eagerness to learn new skills.</p>

    </div>
  </div>
</div>
