@import '../forward.scss';


.homeWrapper{
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #faf6ea;
  max-width: 100%
}

.bannerWrapper{
  background-color: $blue;
  max-width: 100%;

  .bannerLeftBox{
      background-image: url('../../../assets/cakery-assets/index_banner.jpg');
      background-size:cover;
      border-top-right-radius:500px;
      border-bottom-right-radius:500px;
      margin-top:20px;
      margin-bottom:20px;
      min-height:50vh;



  }

  .bannerTextBox{
      background-color:$bg-color;
      text-align: right;
      display:flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: flex-end;
      padding: 50px 100px 50px 100px;




      .bannerText{
          font-weight: 900;
          line-height: 110%;
          padding-bottom:20px
      }

      .bannerLine{

          background-color: $red;

      }
  }
}


////////////////Home


.contentWrapper{
    background-color: $bg-color;
    max-width: 100%;

    .contentSection{
        //padding: 150px 150px 0px 150px;
        background-color: $bg-color;
        max-width: 1500px;

        .hr1{
            @include border-style;
            margin-left:0;
        }

        .hr2{
            @include border-style;
            margin-right:0;  //why doesn't this work?
        }



        .rollout{
            -webkit-transition: width 1s ease-out; /* For Safari 3.1 to 6.0 */
            transition: width 1s  ease-out;
            width : 0%;
            text-align: right;
        }

        .grow{
            width:100%;
          }

        .alignRight{
            text-align: right;
        }

        .productsRow{
            .productCol{
                padding-bottom: 20px;
                .imgClass{
                    //max-width: 205px;
                    max-width: 100%;
                }
                .name{
                    font-size: 18px;
                    font-weight: 600;
                }

                .price{
                    color: $blue;
                    font-weight: 600;
                }

                .date{
                    color: #6c757d;
                    padding-top: 5px;
                }
            }
        }
    }

    .contentRow{
        margin-top: 20px;
        align-items: center;

        .contentImage{
            max-width: 100%;
            text-align: center;

            .sideImage{
                max-width: 100%;
            }

        }

        .contentText{

        }
    }

}

//////////media queries////////

///CELLPHONE
// @media screen and (max-width:500px){
//     .bannerText{
//         font-size: 100px;
//     }

//     .bannerLine{
//         width:190px;
//         height:30px;

//     }

//     .contentSection{
//         padding: 50px 50px 0px 50px;
//     }

//     h1{
//         padding-top:20px
//     }

//     .rowReverse{
//         flex-direction: column-reverse;
//     }

// }

// ////IPAD
// @media screen and (min-width: 500px) and (max-width:1050px){
//     .bannerText{
//         font-size: 100px;

//     }

//     .bannerLine{
//         width:190px;
//         height:30px;

//     }

//     .contentSection{
//         padding: 50px 50px 0px 50px;
//     }

//     h1{
//         padding-top:20px
//     }

//     .contentRow{
//         align-items: start;
//     }


// }

// /////FULL SCREEN
// @media screen and (min-width: 1050px){

//     .bannerText{
//         font-size: 125px;
//     }

//     .bannerLine{
//         width:250px;
//         height:40px;

//     }

//     .contentWrapper{
//         .contentSection{
//             padding: 150px 150px 0px 150px;
//         }
//     }


// }

