

$dark-color: #141A29;
$accent-color: #7fcdc7;
$light-color: #BDC6D7;
$dim-color: #7c828c;
$teal: #125e70;
$dark-teal: #24313a;
$dark-color2:#252935;


// accent rgb(127, 205, 199);

@mixin hoverGlow{
  // box-shadow: 0 0 50px -9px rgba(127, 205, 199, 5);
  // border: 1px solid $dim-color;
  transform: scale(1.01)
}


.projectsContainer{
  background-color: $dark-color;
  display:flex;
  justify-content: center;
///
  padding-bottom: 150px;
////
  .projectsContent{
    width: 70%;
    padding-top: 100px;

    h1{
      color: $light-color;
    }

    .projectList{
      padding-top: 50px;

      .projectCardWrapper{
        padding-top: 45px;



        .projectCard{
          // border: solid 1px $light-color;
          border-radius: 20px;
          background-color: $dark-color2;
          padding: 75px;
          -webkit-transition: all 150ms ease-in-out;
          transition: all .3s ease-in-out;




          .cardInfo{
            h3{
              font-size: 1.2em;
              color: $light-color;
              padding-bottom: 10px;
            }

            ul{
              list-style-type: none;
              // margin: 0;
              padding: 0;
              font-size: 0.7rem;
              display: flex;
              flex-direction: row;
              gap: 0.6rem;
              // justify-content: center;

              li{
                display: inline;
                color: $accent-color;
                border: solid 1px $accent-color;
                border-radius: 10px;

                padding: 6px 12px;
              }
            }
            p{
              color: $light-color;
            }

            .linksRow{
              display: flex;
              flex-direction: row;
              align-items: center;
              gap: 1rem;

              button{
                font-size: .8rem;
                background-color: $light-color;
                color: $dark-color;
                font-weight: 500;
              }

              .socialIcon{
                width: 30%;
              }
            }

          }

          .cardImage{
            background-image: url(../../assets/TwoTugs_screenshot.png);
            background-size: cover;
            .projectImage{
              max-width:50px;
            }

          }
        }
      }


      .projectCard:hover{
        @include hoverGlow();

      }
    }
  }

}


