

<div class="projectsContainer">

  <div class="projectsContent">
    <h2>Projects</h2>
    <div class="buttonsRow"></div>

    <section class="projectList">

      <div class="projectCardWrapper">
        <div class="projectCard row">
          <div class="cardInfo col-8">
            <h3>Two Tugs Brewing</h3>
            <ul class="skills">
              <li>HTML</li>
              <li>CSS</li>
              <li>JavaScript</li>
            </ul>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
            <div class="linksRow">
              <button class="btn">Demo</button>
              <a href="#"><img class="socialIcon" src="../../assets/git_logo.png"></a>
            </div>
          </div>

          <div class="cardImage col-4">
          </div>

        </div>
      </div>

      <div class="projectCardWrapper">
        <div class="projectCard row">
          <div class="cardInfo col-8">
            <h3>Two Tugs Brewing</h3>
            <ul class="skills">
              <li>HTML</li>
              <li>CSS</li>
              <li>JavaScript</li>
            </ul>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
            <div class="linksRow">
              <button class="btn">Demo</button>
              <a href="#"><img class="socialIcon" src="../../assets/git_logo.png"></a>
            </div>
          </div>

          <div class="cardImage col-4">
          </div>

        </div>
      </div>

      <div class="projectCardWrapper">
        <div class="projectCard row">
          <div class="cardInfo col-8">
            <h3>Two Tugs Brewing</h3>
            <ul class="skills">
              <li>HTML</li>
              <li>CSS</li>
              <li>JavaScript</li>
            </ul>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
            <div class="linksRow">
              <button class="btn">Demo</button>
              <a href="#"><img class="socialIcon" src="../../assets/git_logo.png"></a>
            </div>
          </div>

          <div class="cardImage col-4">
          </div>

        </div>
      </div>

      <div class="projectCardWrapper">
        <div class="projectCard row">
          <div class="cardInfo col-8">
            <h3>Two Tugs Brewing</h3>
            <ul class="skills">
              <li>HTML</li>
              <li>CSS</li>
              <li>JavaScript</li>
            </ul>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
            <div class="linksRow">
              <button class="btn">Demo</button>
              <a href="#"><img class="socialIcon" src="../../assets/git_logo.png"></a>
            </div>
          </div>

          <div class="cardImage col-4">
          </div>

        </div>
      </div>
    </section>


  </div>
</div>


