

<div class="projectsContainer">
  <div class="projectsContent">
    <h2><i class="fa-solid fa-gear"></i> Projects</h2>
    <hr>
    <section class="projectList" >

      <div class="projectCardWrapper" *ngFor="let project of projects;" >
        <div class="projectCard row">
          <div class="cardInfo col-sm-12 col-md-12 col-lg-8 ">
            <h3>{{project.attributes.Title}}</h3>
            <!-- <h4 class="subtitle">{{project.attributes.Subtitle}}</h4> -->

            <ul class="skills">
              <li *ngFor="let skill of project.attributes.skills.data">{{skill.attributes.SkillName}}</li>
            </ul>

            <p>{{project.attributes.Summary}}</p>
            <div class="linksRow">
              <a [routerLink]="project.attributes.WebLink" target="_blank"><button class="btn buttonClass">View</button></a>
              <a [href]="project.attributes.GitLink"><i class="socialIcon fa-xl fa-brands fa-github"></i></a>
            </div>
          </div>

          <div class="cardImage col-sm-12 col-md-12 col-lg-4" style="background-image: url('{{project.attributes.imageLink}}');">
          </div>


        </div>
      </div>

      <!-- <div class="projectCardWrapper">
        <div class="projectCard row">
          <div class="cardInfo col-8">
            <h3>Two Tugs Brewing</h3>
            <ul class="skills">
              <li>HTML</li>
              <li>CSS</li>
              <li>JavaScript</li>
            </ul>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
            <div class="linksRow">
              <button class="btn buttonClass">View</button>
              <a href="#"><i class="socialIcon fa-xl fa-brands fa-github"></i></a>
            </div>
          </div>

          <div class="cardImage col-4">
          </div>

        </div>
      </div>

      <div class="projectCardWrapper">
        <div class="projectCard row">
          <div class="cardInfo col-8">
            <h3>Two Tugs Brewing</h3>
            <ul class="skills">
              <li>HTML</li>
              <li>CSS</li>
              <li>JavaScript</li>
            </ul>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
            <div class="linksRow">
              <button class="btn buttonClass">View</button>
              <a href="#"><i class="socialIcon fa-xl fa-brands fa-github"></i></a>
            </div>
          </div>

          <div class="cardImage col-4">
          </div>

        </div>
      </div>

      <div class="projectCardWrapper">
        <div class="projectCard row">
          <div class="cardInfo col-8">
            <h3>Two Tugs Brewing</h3>
            <ul class="skills">
              <li>HTML</li>
              <li>CSS</li>
              <li>JavaScript</li>
            </ul>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
            <div class="linksRow">
              <button class="btn buttonClass">View</button>
              <a href="#"><i class="socialIcon fa-xl fa-brands fa-github"></i></a>
            </div>
          </div>

          <div class="cardImage col-4">
          </div>

        </div>
      </div> -->
    </section>


  </div>
</div>


