<div class="contactWrapper">
<main class="contactContainer">
  <div class="contactContent">
    <!-- <i class="icon fa-regular fa-paper-plane"></i> -->
    <h2><i class="fa-solid fa-paper-plane"></i> Let's Connect</h2>
   <hr>

    <section class="formContainer">
      <form #form_="ngForm" (ngSubmit)="submit()">
      <div class="form">
        <div class="form-group row">
          <div class="col">
            <label for="inputFirstName">Full Name</label>
            <input
              name ="inputName"
              #name_="ngModel"
              [(ngModel)]="name"
              ng-reflect-minlength="1"
              type="text"
              class="form-control"
              required>

              <div class="alert" role="alert" *ngIf="name_.touched && name_.invalid">Please enter your name</div>
          </div>

          <div class="col">
            <label for="inputLastName">Email</label>
            <input
              name="email"
              #email_="ngModel"
              [(ngModel)]="email"

              type="email"
              class="form-control"
              required>
            <!--pattern="^[^s@]+@[^s@]+.[^s@]{2,}$"-->
              <div class="alert" role="alert" *ngIf="email_.touched && email_.invalid">Please enter a valid email</div>

          </div>
        </div>

        <div class="form-group row">
          <div class="col">
            <label for="inputEmailSubject">Email Subject</label>
            <input
              name="inputEmailSubject"
              #emailSubject_="ngModel"
              [(ngModel)]="emailSubject"
              ng-reflect-minlength="1"
              type="text"
              class="form-control"
              required>
              <div class="alert" role="alert" *ngIf="emailSubject_.touched && emailSubject_.invalid">Please enter a subject</div>
          </div>
        </div>

        <div class="form-group">
          <label for="exampleFormControlTextarea1">Message</label>
          <textarea
            name="inputMessage"
            #message_="ngModel"
            [(ngModel)]="message"
            class="form-control"
            required
            ng-reflect-minlength="5"
            rows="5"></textarea>
            <div class="alert" role="alert" *ngIf="message_.touched && message_.invalid">Please enter a message</div>

        </div>

        <div class="form-group buttonRow">
          <button class="btn buttonClass" [disabled]="form_.invalid">Send</button>
          <div class="alert mt-3" role="alert" *ngIf="submitted">Thank you! I'll be in touch shortly.</div>
        </div>
      </div>
    </form>
    </section>

  </div>
</main>
</div>
