<div class="homeContainer">
  <div class="heroSection">
    <!-- <svg id="svg" class="backgroundSVG" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 1080"><g id="background"><polygon fill = "#0b192e" points="1819.28 0 0 0 0 1080 1367.16 1080 1800 0"/></g></svg> -->
    <div class="heroContent">
      <h1 class="name">Lisa Millerd</h1>
      <h1 class="name2">Lisa Millerd</h1>

      <h2 class="title">Web Developer | UI/UX</h2>
      <div class="description">I am a full-stack web developer with a passion for problem solving and creating a seamless user experience. My work is driven by a blend of technical proficiency, creativity, and an eagerness to learn new skills.</div>
      <div class="skills">JavaScript | TypeScript | Angular | Node.js | Wordpress | HTML | CSS | SCSS | SQL | PHP | REST API | Strapi</div>
      <div class="buttonsRow">
        <button class="btn buttonClass">Projects</button>
        <button class="btn buttonClass">Contact</button>
      </div>
    </div>

  </div>
</div>
