<div class="contactWrapper">
<main class="contactContainer">
    <h2><i class="fa fa-solid fa-link" aria-hidden="true"></i> Let's Connect</h2>
   <hr>

   <div class="intro">
      <div>
        <p>I'd love to chat more with you about any projects you're working on or roles
        you are looking to fill. Here are some ways you can reach me!</p>
      </div>
      <div class="contactLinks">
        <p><a href = "mailto: lisa.millerd@gmail.com" target="_blank">
          <i class="fa fa-envelope" aria-hidden="true"></i>lisa.millerd@gmail.com
        </a></p>
        <p><a href="https://asset.cloudinary.com/l-millerd/3e8e0d68c1109e3c89d35c2e0b79c014" download target="_blank">
          <i class="fa fa-cloud-download" aria-hidden="true"></i>Resume
        </a></p>
        <p><a href="https://github.com/L-millerd" target="_blank">
          <i class="fa fa-github" aria-hidden="true"></i>L-Millerd
        </a></p>
        <p><a href="https://www.linkedin.com/in/lisa-millerd-3905ba67/" target="_blank">
          <i class="fa fa-linkedin-square" aria-hidden="true"></i>Lisa Millerd
        </a></p>
      </div>
    </div>

    <section class="formContainer">
      <form #form_="ngForm" (ngSubmit)="submit()">
      <div class="form">
        <div class="hello"><i class="fa-solid fa-paper-plane"></i> Send Me An Email</div>
        <hr>
        <div class="form-group row">
          <div class="col-sm-12 col-md-12 col-lg-6">
            <label for="inputFirstName">Full Name</label>
            <input
              name ="inputName"
              #name_="ngModel"
              [(ngModel)]="name"
              ng-reflect-minlength="1"
              type="text"
              class="form-control"
              required>

              <div class="alert" role="alert" *ngIf="name_.touched && name_.invalid">Please enter your name</div>
          </div>

          <div class="col-sm-12 col-md-12 col-lg-6">
            <label for="inputLastName">Email</label>
            <input
              name="email"
              #email_="ngModel"
              [(ngModel)]="email"

              type="email"
              class="form-control"
              required>
            <!--pattern="^[^s@]+@[^s@]+.[^s@]{2,}$"-->
              <div class="alert" role="alert" *ngIf="email_.touched && email_.invalid">Please enter a valid email</div>

          </div>
        </div>

        <div class="form-group row">
          <div class="col">
            <label for="inputEmailSubject">Email Subject</label>
            <input
              name="inputEmailSubject"
              #emailSubject_="ngModel"
              [(ngModel)]="emailSubject"
              ng-reflect-minlength="1"
              type="text"
              class="form-control"
              required>
              <div class="alert" role="alert" *ngIf="emailSubject_.touched && emailSubject_.invalid">Please enter a subject</div>
          </div>
        </div>

        <div class="form-group">
          <label for="exampleFormControlTextarea1">Message</label>
          <textarea
            name="inputMessage"
            #message_="ngModel"
            [(ngModel)]="message"
            class="form-control"
            required
            ng-reflect-minlength="5"
            rows="5"></textarea>
            <div class="alert" role="alert" *ngIf="message_.touched && message_.invalid">Please enter a message</div>

        </div>

        <div class="form-group buttonRow">
          <button class="btn buttonClass" [disabled]="form_.invalid">Send</button>
          <div class="alert mt-3" role="alert" *ngIf="submitted">Thank you! I'll be in touch shortly.</div>
        </div>
      </div>
    </form>


    </section>

</main>
</div>
