
<nav class="navbar navbar-expand-lg " >

  <div class="container-fluid row">
      <!-- <div class="navImages col-sm-12 col-md-12 col-lg-6"> -->
      <div class="navImages col-6">
        <a class="navbar-brand drop" href="#"><img class="navLogo" src="../../assets/LM_logo_accent.png"></a>
        <a class="hoverLine drop hide" href="https://github.com/lmillerd"><img class="socialIcons" src="../../assets/git_logo_accent.png"></a>
        <a class="hoverLine drop hide" href="https://www.linkedin.com/in/lisa-millerd-3905ba67/"><img class="socialIcons" src="../../assets/linkedIn_logo_accent.png"></a>
      </div>

          <button class="navbar-toggler col-6" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <div class="burger">
              <i class="fa fa-bars" aria-hidden="true"></i>
            </div>
          </button>


      <div class="listCol col-sm-12 col-md-12 col-lg-6">
        <!-- <div class="listCol col-6"> -->
          <div class="collapse navbar-collapse " id="navbarNavDropdown">
          <ul class="ms-auto navbar-nav">
            <li class="nav-item">
              <a class="nav-link" (click)="scrollAbout()">01. About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="scrollProjects()">02. Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="scrollContact()">03. Contact</a>
            </li>
          </ul>
        </div>
      </div>

    </div>
</nav>

<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
    </ul>
  </div>
</nav> -->
