

<div class="projectsContainer">

  <div class="projectsContent">
    <h2>Projects</h2>
    <div class="buttonsRow"></div>

    <section class="projectList" ><!--tosection-->

      <div class="projectCardWrapper" #projectWrapper *ngFor="let project of projects;" >
        <div class="projectCard row">
          <div class="cardInfo col-8">
            <h3>{{project.attributes.Title}}</h3>

            <ul class="skills">
              <li *ngFor="let skill of project.attributes.skills.data">{{skill.attributes.SkillName}}</li>
            </ul>

            <p>{{project.attributes.Summary}}</p>
            <div class="linksRow">
              <a [href]="project.attributes.WebLink"><button class="btn">Demo</button></a>
              <a [href]="project.attributes.GitLink"><i class="socialIcon fa-xl fa-brands fa-github"></i></a>
            </div>
          </div>
<!--needs to be updated with cloudinary-->
          <div class="cardImage col-4">
          </div>
<!--needs to be updated with cloudinary-->

        </div>
      </div>

      <div class="projectCardWrapper">
        <div class="projectCard row">
          <div class="cardInfo col-8">
            <h3>Two Tugs Brewing</h3>
            <ul class="skills">
              <li>HTML</li>
              <li>CSS</li>
              <li>JavaScript</li>
            </ul>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
            <div class="linksRow">
              <button class="btn">Demo</button>
              <a href="#"><i class="socialIcon fa-xl fa-brands fa-github"></i></a>
            </div>
          </div>

          <div class="cardImage col-4">
          </div>

        </div>
      </div>

      <div class="projectCardWrapper">
        <div class="projectCard row">
          <div class="cardInfo col-8">
            <h3>Two Tugs Brewing</h3>
            <ul class="skills">
              <li>HTML</li>
              <li>CSS</li>
              <li>JavaScript</li>
            </ul>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
            <div class="linksRow">
              <button class="btn">Demo</button>
              <a href="#"><i class="socialIcon fa-xl fa-brands fa-github"></i></a>
            </div>
          </div>

          <div class="cardImage col-4">
          </div>

        </div>
      </div>

      <div class="projectCardWrapper">
        <div class="projectCard row">
          <div class="cardInfo col-8">
            <h3>Two Tugs Brewing</h3>
            <ul class="skills">
              <li>HTML</li>
              <li>CSS</li>
              <li>JavaScript</li>
            </ul>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
            <div class="linksRow">
              <button class="btn">Demo</button>
              <a href="#"><i class="socialIcon fa-xl fa-brands fa-github"></i></a>
            </div>
          </div>

          <div class="cardImage col-4">
          </div>

        </div>
      </div>
    </section><!--tosection-->


  </div>
</div>


