<app-b-nav></app-b-nav>

<div class="container center mt-5">
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Title</label>
    <input [(ngModel)]="title" type="text" class="form-control" placeholder="Product Title" >
  </div>

  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Primary Image</label>
    <input type="text" [(ngModel)]="image" class="form-control" placeholder="Primary image path" >
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Image 2</label>
    <input [(ngModel)]="image2" type="text" class="form-control" placeholder="image path" >
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Image 3</label>
    <input [(ngModel)]="image3" type="text" class="form-control" placeholder="image path" >
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Image 4</label>
    <input [(ngModel)]="image4" type="text" class="form-control" placeholder="image path" >
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Image 5</label>
    <input [(ngModel)]="image5" type="text" class="form-control" placeholder="image path" >
  </div>

  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Description</label>
    <input [(ngModel)]="description" type="text" class="form-control" placeholder="Product description" >
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Price</label>
    <input [(ngModel)]="price" type="text" class="form-control" placeholder="Numeric price only" >
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Stock</label>
    <input [(ngModel)]="stock" type="text" class="form-control" placeholder="Current stock" >
  </div>

  <button class="btn btn-primary" (click) = "editProduct()">Update Product</button>
  <button class="btn btn-primary" (click) = "deleteProduct()" disabled>Delete Product</button>

  <a routerLink="/admin-view">Return to admin products page</a>
  <!-- <div  *ngIf="deleted" class="success">**Successfully Added</div>
  <div  *ngIf="!deleted" class="error">**There's been an error</div> -->

  <div  *ngIf="deleted" [style.display]="showDeleteMessage" class="success">**Successfully Deleted</div>
  <div  *ngIf="!deleted" [style.display]="showDeleteMessage" class="error">**There's been an error</div>

  <div  *ngIf="edited" [style.display]="showEditMessage" class="success">**Successfully Updated</div>
  <div  *ngIf="!edited" [style.display]="showEditMessage" class="error">**There's been an error</div>
</div>
