<div class="productsWrapper">
<app-cakery-nav></app-cakery-nav>

  <div class="bannerWrapper row">
    <div class="bannerLeftBox bannerLeftBox col-sm-12 col-md-12 col-lg-6 col-xl-7">

    </div>
    <div class="bannerTextBox col-sm-12 col-md-12 col-lg-6 col-xl-5">
        <div class="bannerText animate__animated animate__fadeInRight">CAKE<br>FOR<br>DAYS</div>
        <div class="bannerLine animate__animated animate__fadeInRight"></div>
    </div>

  </div>

  <!--.................body.................-->

  <div class="contentWrapper">

    <div class="contentSection">
        <div class="headContainer align-items-end row">
            <h1 class="productHead col-md-6">Products</h1>
            <ul class="filtersList col-md-6">
                <li class="list" id="All" (click)="clearFilter()">All</li>
                <li class="list" id="cakes" (click)="productFilter('cake')">Cakes</li>
                <li class="list" id="cookies" (click)="productFilter('cookie')">Cookies</li>
                <li class="list" id="donuts" (click)="productFilter('donut')">Donuts</li>
            </ul>
        </div>
        <hr class="rollout hr1">

          <div class='productsRow row'>
            <div class="productCol col-md-6 col-lg-3" *ngFor="let product of filtered">
              <img class ="imgClass" [src]="product.image">
              <div class="name">{{product.name}}</div>
              <div class="price">{{product.price}}</div>
            </div>
          </div>

    </div>
  </div>


<app-cakery-footer></app-cakery-footer>
</div>
