@import '../forward.scss';


.productsWrapper{
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #faf6ea;
  max-width: 100%
}

.bannerWrapper{
    background-color: $yellow;

    .bannerLeftBox{
        background-image: url('../../../assets/cakery-assets/products_banner.jpg');
        background-size:cover;
        border-top-right-radius:500px;
        border-bottom-right-radius:500px;
        background-attachment: bottom center;
        //margin:30px 0px 20px 0px;
        margin-top:20px;
        margin-bottom:20px;
        min-height:50vh;
    }

    .bannerTextBox{
        background-color:$bg-color;
        text-align: right;
        display:flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
       padding: 50px 100px 50px 100px;




        .bannerText{
            font-weight: 900;
            //font-size: 125px;
            line-height: 110%;
            padding-bottom:20px
        }

        .bannerLine{

            background-color: $red;

        }
    }
}


//////////////CONTENT//////////////


.contentWrapper{
    background-color: $bg-color;
    display: flex;
    justify-content: center;


    .contentSection{
        padding: 150px 150px 0px 150px;
        background-color: $bg-color;
        max-width: 1500px;

        .headContainer{
            align-items: flex-end;

                .filtersList{
                    display: flex;
                    justify-content:flex-end;
                    list-style-type: none;

                    .list{
                        padding: 5px 10px 5px 10px;
                        font-weight: 900;

                    }

                    .list:hover{
                        background-color:black;
                        color: $bg-color;
                    }
                }

        }

        .hr1{
            @include border-style;
            margin-left:0;
        }

        .hr2{
            @include border-style;
            margin-right:0;  //why doesn't this work?
        }



        .rollout{
            -webkit-transition: width 1s ease-out; /* For Safari 3.1 to 6.0 */
            transition: width 1s  ease-out;
            width : 0%;
            text-align: right;
        }

        .grow{
            width:100%;
          }

        .alignRight{
            text-align: right;
        }

        .productsRow{


            .productCol{
                padding-bottom: 60px;
                .imgClass{
                    //max-width: 205px;
                    max-width: 100%;
                }
                .name{
                    font-size: 18px;
                    font-weight: 600;
                    padding-top: 10px;
                }

                .price{
                    color: $blue;
                    font-weight: 600;
                }
            }
        }
    }

    .contentRow{
        margin-top: 20px;
        align-items: start;

        .contentImage{
            max-width: 100%;
            text-align: center;

            .sideImage{
                max-width: 100%;
            }

        }


    }
}

// ///CELLPHONE
// @media screen  and (max-width:500px){

//     .bannerTextBox{

//         padding: 50px 70px 50px 70px;
//     }

//     .bannerText{
//         font-size: 75px;
//         text-align: right;
//     }

//     .bannerLine{
//         width:240px;
//         height:30px;

//     }

//     .contentSection{
//         padding: 50px 50px 0px 50px;
//     }

//     h1{
//         padding-top:20px
//     }

//     .rowReverse{
//         flex-direction: column-reverse;
//     }

// }

// ////IPAD
// @media screen and (min-width: 500px) and (max-width:1050px){
//     .bannerTextBox{

//         padding: 50px 175px 50px 120px;
//     }

//     .bannerText{
//         font-size: 125px;

//     }

//     .bannerLine{
//         width:240px;
//         height:30px;

//     }

//     .contentSection{
//         padding: 50px 50px 0px 50px;
//     }

//     h1{
//         padding-top:20px
//     }

//     .contentRow{
//         align-items: start;
//     }


// }

// /////FULL SCREEN
// @media screen and (min-width: 1050px){
//     .bannerTextBox{

//         padding: 50px 100px 50px 100px;
//     }

//     .bannerText{
//         font-size: 125px;
//     }

//     .bannerLine{
//         width:340px;
//         height:40px;

//     }

//     .contentWrapper{
//         .contentSection{
//             padding: 150px 150px 0px 150px;
//         }
//     }
// }
