$dark-color: #141A29;
$accent-color: rgb(127, 205, 199);
$dim-accent: #497e7a;
$light-color: #BDC6D7;
$dim-color: #7c828c;
$teal: #125e70;
$dark-color2:#252935;


html{
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-size: calc(15px + 0.390625vw);
  background-color: $dark-color;
}


h1{
  font-size: 4rem;
  font-weight:500;
}


p{
  font-size: .9rem;
  color: $light-color;

}

h2{
  color: $light-color;
  font-size: 2rem;
  font-weight:500;
}

///headings

hr{
  color: $light-color;
}

.fa-solid{
  color: $dim-color;
}

//Media Queries

@media screen and (max-width:500px){

}

////IPAD
@media screen and (min-width: 500px) and (max-width:1050px){


}

/////FULL SCREEN
@media screen and (min-width: 1050px){



}
