
<div class="wrapper">
    <nav-component class="nav-app"></nav-component>

    <div class="homeContainer">
      <section class="heroSection">
        <div class="heroContent">
          <!-- <p class="intro"><span>Hi! my name is...</span></p> -->
          <h1 class="name">Lisa Millerd</h1>
          <h2 class="title">Full Stack Developer</h2>
          <!-- <div class="description">I am a full-stack web developer with a passion for problem solving and creating a seamless user experience. My work is driven by a blend of technical proficiency, creativity, and an eagerness to learn new skills.</div> -->
          <div class="skills">JavaScript | TypeScript | Angular | Node.js | Wordpress | HTML | CSS | SCSS | SQL | PHP | REST API | Strapi</div>
          <div class="buttonsRow">
            <button class="btn buttonClass" (click)="scrollProjects()">Projects</button>
            <button class="btn buttonClass">Contact</button>
          </div>
        </div>
      </section>
    </div>


  <app-about class="app" id="app-about" ></app-about>
  <app-projects class="app" id="app-projects"></app-projects>
  <app-contact class="app" id="app-contact"></app-contact>
</div>
