$dark-color: #141A29;
$accent-color: rgb(127, 205, 199);
$dim-accent: #497e7a;
$light-color: #BDC6D7;
$dim-color: #7c828c;
$teal: #125e70;
$dark-color2:#252935;


@mixin hover-transition{
  transition: 0.3s;
}



.wrapper{
  background-color: $dark-color;
  overflow: hidden;
  background-size: cover;
  position: absolute;

}

.homeContainer{
  height: 90vh; ///This needs work
  width: 100%;
  font-family: 'Poppins', sans-serif;
}


.heroSection{
  width: 100%;
  position: absolute;
  z-index: 1;


  .heroContent{
    padding: 200px;
    // width: calc(70% + 10vh);
    width: 70%;


    .intro{
      color: $light-color;
      position: relative;
      overflow: hidden;
    }
    .name{
      color: $light-color;
      font-size: 4rem;
      font-weight:500;
      // @include enter-side-animation;
    }

    .title{
      color: $accent-color;

      font-weight: 300;
      font-size: 2rem;

      // @include enter-side-animation;
      // animation-delay: 100ms;
    }

    .description{
      color: $light-color;
      font-size: .8rem;
    }

    .skills{
      padding-top:15px;
      background: linear-gradient(to right, $dim-color 40%, $accent-color 50%, $dim-color 60%, $dim-color 100%);
      background-clip: text;
      color:rgba(255,255,255,0);
      background-size: 200%;
      animation: shine 4s infinite;
      text-align: justify;
      text-justify: inter-word;
      font-size: .8rem;
    }

    .buttonsRow{
      padding-top:20px;
    }
  }
}

.appContainer{
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

/////Vert Navigation

.number{
  background-color: $dark-color;
  color: $accent-color;
  border-radius: 0px 20px 20px 0px;
  font-size: 2rem;
  font-weight: 700;
  padding: 20px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  width: 10%; // for overlap
}

.vertLine{
  width: 2rem;
  position: absolute;
  z-index: 1;
  height: 100%;
  border-right: 1px solid $dim-accent;
}

.arrows{
  color: #497e7a;
  padding-left: 0.6rem;
  font-size: 1.2rem;
}

/////buttons

.buttonClass {
  font-size:.8rem;
  font-weight:500;
  margin-right: 15px;
  min-width: 125px;
  padding:10px;

  background-color: $accent-color;
  color: $dark-color;
  border: 2px solid $accent-color;

  -webkit-transition: all 150ms ease-in-out;
  transition: all .2s ease-in-out;
}

.buttonClass:hover {
   background-color: rgb(127, 205, 199, .2);
  color: $accent-color;
  transform: scale(1.03);
}


@keyframes shine{
  0%{
    background-position: 100%;
  }
  100%{
    background-position: -100%;
  }
}

