$dark-color: #141A29;
$accent-color: #7fcdc7;
$light-color: #BDC6D7;
$dim-color: #7c828c;
$teal: #125e70;

// $dark-color: #181323;
// $accent-color: #FEF9e7;
// $peach: #e9bab2;
// $light-color: #BDC6D7;
// $dim-color: #7c828c;

//space
// $dark-color: #222224;
// $white-color: #FEF9e7;
// $gold: #B4A36F;
// $orange: #BA5A41;
// $teal: #528A8A;
// $light-color: #B9BBBA;
// $dim-color: #7c828c;

@mixin hover-transition{
  transition: 0.3s;
}


////temp

////temp
.wrapper{
  background-color: $dark-color;
  overflow: hidden;
}

.homeContainer{
  // background-color: $dark-color;
  height: 90vh;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  //if this is absolute, about has to be too
}


.heroSection{
  width: 100%;
  position: absolute;


  .heroContent{
    padding: 200px;
    // width: calc(70% + 10vh);
    width: 70%;


    .intro{
      color: $light-color;
      position: relative;
      overflow: hidden;
    }
    .name{
      color: $light-color;
      font-size: 4rem;
      font-weight:500;
      // @include enter-side-animation;
    }

    .title{
      color: $accent-color;

      font-weight: 300;
      font-size: 2rem;

      // @include enter-side-animation;
      // animation-delay: 100ms;
    }

    .description{
      color: $light-color;
      font-size: .8rem;
    }

    .skills{
      padding-top:15px;
      background: linear-gradient(to right, $dim-color 40%, $accent-color 50%, $dim-color 60%, $dim-color 100%);
      background-clip: text;
      color:rgba(255,255,255,0);
      background-size: 200%;
      animation: shine 4s infinite;
      text-align: justify;
      text-justify: inter-word;
      font-size: .8rem;
    }

    .buttonsRow{
      padding-top:20px;
    }
  }
}

.buttonClass {
  border: solid 2px $light-color;
  color:$light-color;
  // box-shadow: 0 0 40px 40px $accent-color inset, 0 0 0 0 $accent-color;
  -webkit-transition: all 150ms ease-in-out;
  transition: all .2s ease-in-out;

  font-size:.8rem;
  font-weight:500;
  margin-right: 15px;
  min-width: 125px;
  padding:10px;
}

.buttonClass:hover {
  box-shadow: 0 0 10px 1px $accent-color;
  color: $accent-color;
}



@keyframes shine{
  0%{
    background-position: 100%;
  }
  100%{
    background-position: -100%;
  }
}

// @keyframes enterSide{
//   0%{
//     // margin-left: -500px;
//     transform: translateX(-500px);
//   }

//   85%{
//     transform: translateX(10px);
//   }

//   100%{
//     // margin-left: none;
//     transform: translateX(0px);
//   }
// }

